rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    /*
    DEV / DEMO RULES

    For your final submission, authentication
    should be added.
    */

    match /devices/{deviceId} {
      allow read: if true;
      allow write: if true;
    }

    match /floors/{floorId} {
      allow read: if true;
      allow write: if true;
    }

    match /rooms/{roomId} {
      allow read: if true;
      allow write: if true;
    }

    match /alerts/{alertId} {
      allow read: if true;
      allow write: if true;
    }

    match /usageLogs/{logId} {
      allow read: if true;
      allow write: if true;
    }
  }
}